*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

td,
th {
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  padding: 6px;
}

body {
  min-height: 100vh;
  height: 100%;
  background: oklch(0.147 0.004 49.25);
  color: oklch(0.97 0.001 106.424);
  font-family: sans-serif;
}

legend {
  border-width: 0;
}

button {
  width: fit-content;
  border-radius: 0.25rem;
  background: rgb(23 37 84);
  padding: 0.5rem;
  color: oklch(0.97 0.001 106.424);
}
button:hover {
  background: rgb(30 58 138);
}

fieldset {
  border-width: 0px;
}

#noscript {
  display: block;
  width: 100%;
  text-align: center;
}

#unitDrawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

#unitLegend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
#unitControl {
  margin-top: 16px;
}

input,
select {
  background: oklch(0.216 0.006 56.043);
  color: oklch(0.97 0.001 106.424);
  border-color: oklch(0.374 0.01 67.558);
  border-width: 1px;
}

#dateInput {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
  align-items: center;
}

.hidden {
  display: none !important;
}

.justify-start {
  justify-self: flex-start;
}

.justify-end {
  justify-self: flex-end;
}

#timeZones {
  max-width: 9rem;
}

@media (width > 500px) {
  .content {
    margin: 16px;
  }
  #timeZones {
    max-width: auto;
  }
}
